language: java

jobs:
  include:
    - stage: Test
      script: mvn test -B
    - stage: Push image to heroku
      script: 
      - mvn clean package
      - sudo curl https://cli-assets.heroku.com/install.sh | sh
      - HEROKU_API_KEY=$HEROKU_AUTH_TOKEN heroku container:login
      - HEROKU_API_KEY=$HEROKU_AUTH_TOKEN heroku container:push -a usrmgmt-j2e-app web
      - HEROKU_API_KEY=$HEROKU_AUTH_TOKEN heroku container:release -a usrmgmt-j2e-app web
