before_install:
- openssl aes-256-cbc -K $encrypted_3e9a65cf8c25_key -iv $encrypted_3e9a65cf8c25_iv
  -in jakartaee8-usrmgmt-ef18fa077c57.json.enc -out .\\jakartaee8-usrmgmt-ef18fa077c57.json
  -d

  language: java

jobs:
  include:
    - stage: Test
      script: mvn test -B
    - stage: Push image to heroku
      script: 
      - gcloud auth activate-service-account harsha@jakartaee8-usrmgmt.iam.gserviceaccount.com --key-file=jakartaee8-usrmgmt-ef18fa077c57.json.enc
