<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

	<!-- Enable features -->
	<featureManager>
		<feature>jakartaee-8.0</feature>
		<feature>restConnector-2.0</feature>		
	</featureManager>

	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint id="defaultHttpEndpoint" httpPort="9090"
		httpsPort="9443" />
	
	<quickStartSecurity userName="admin"
                            userPassword="admin" />

	<!-- Default SSL configuration enables trust for default certificates from 
		the Java runtime -->
	<ssl id="defaultSSLConfig" trustDefaultCerts="true" />
	
	<variable name="WLP_DEBUG_REMOTE" value="y" />
	
    <dataSource id="mysqldatasource"
                    jndiName="jdbc/user_management_db">
        <jdbcDriver libraryRef="MySQLLib" />
        <properties databaseName="heroku_784f366ebc994e8"
                            serverName="us-cdbr-east-06.cleardb.net" password="f657499b" user="bd8547f8d0c843"
                            serverTimezone="UTC" portNumber="3306" />
    </dataSource>

    <library id="MySQLLib">
        <file
            name="mysql-connector-java-8.0.19.jar" />
    </library>

</server>
